html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

/*CSS Variables including colour palette for webpage. E-Portfolio will use a DeepSea colour palette. */
:root {
	--twistPurple: #845ec2;
	--emphasis: #055160;
	--icy-aqua: #B8F2E6;
	--darkBlue: #1C2541
}
/*End of variables */


/*Font styles from Google Fonts */

/*Used for headings */
.science-gothic-<uniquifier> {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

/*Used for content */
.saira-<uniquifier> {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*End of font styles */

/*Nav Bar styling*/
.navbar {
	background-color: var(--icy-aqua);
	font-family: "Science Gothic";
	border-bottom: 6px solid #1C2541;
}

.nav-link {
	color: var(--emphasis);
}

.nav-link:hover {
	transform: scale(1.1); /*character portraits slightly increase in size when hovered over */
	transition: transform 0.7s; /*transition takes 0.7s */
	text-shadow: 0 0 3px #055160; /*Nav links will slightly increase in size and have a text shadow when you hover over them. */
}
/*end of Nav Bar styling */

/*Styling for hero/intro section */
#myVideo {
	position: absolute; /*video never moves from its position */
	right: 0;
	bottom: 0;
	min-width: 100%; /* minimum width of video */
	min-height: 100%; /*minimum height of video */
	opacity: 0.6; /*opacity value of video */
	z-index: -1; /* -1 z-index allows video to appear behind content */
}

/*Section to be displayed over the video. Content is aligned in the center */
#hero {
	display: flex;
	color: var(--icy-aqua);
	height: 100vh; /*Height of the hero section over the video */
	justify-content: center;
	align-items: center;
}


.name {
	font-family: "Science Gothic";
	text-shadow: 2px 2px 4px #000000;
}

.hero-content {
	font-family: "Saira";
	padding: 15px;
	text-shadow: 2px 2px 4px #000000;
}

.content {
	font-family: "Saira";
	padding: 15px;
}

/*Styling the button that takes you to About section*/
.abtBtn {
	background-color: var(--emphasis);
	color: var(--icy-aqua);
	font-family: "Science Gothic";
	border-radius: 30px;
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
	animation-name: abtBtnAnimation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

/*hovering over changes it's colour, animation keeps playing*/
.abtBtn:hover {
	background-color: var(--twistPurple);
	border-radius: 30px;
	border-style: solid; 
	border-width: 5px;
	border-color: #B8F2E6;
}

/*Button pulses infinitely */
@keyframes abtBtnAnimation{
	0%   {transform: scale(1.1);}
	25%  {transform: scale(1.2);}
	50%  {transform: scale(1.4);}
	75%  {transform: scale(1.2);}
	100% {transform: scale(1.1);}
}


/*End of hero/intro section styling */

/*Styling the About section */
#about {
	background-color: var(--icy-aqua);
	color: var(--emphasis);
	text-align: justify;
}

.me{
	float: left; /*photo of me is to the left of the about me paragraph */
}

/*When you hover over my picture, it spins 360 degrees like a CD*/
.me:hover {
	animation-name: meAnimation;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;
	animation-delay: 1s;
}

@keyframes meAnimation{
	0%   {transform: rotate(90deg);}
	25%  {transform: rotate(180deg);}
	50%  {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

/*Gaming icons will move around in a rectangular shape infinitlely in opposite directions*/
.game-icon{
	position: relative;
	animation-name: gameAnimation;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.game-icon2{
	position: relative;
	animation-name: game2Animation;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes gameAnimation{
	0%  {left:0px; top:0px;}
  25%  {left:275px; top:0px;}
  50%  {left:275px; top:50px;}
  75%  {left:0px; top:50px;}
  100% {left:0px; top:0px;}
}

@keyframes game2Animation{
	0%  {right:0px; top:0px;}
  25%  {right:275px; top:0px;}
  50%  {right:275px; top:50px;}
  75%  {right:0px; top:50px;}
  100% {right:0px; top:0px;}
}

/*End of styling About section */

/*Styling the Projects section  */
#projects {
	display: flex;
	background-color: var(--icy-aqua);
	color: var(--emphasis);
}

/*Each card contains thumbnails and brief descriptions about each project */
.project-card{
	font-family: "Saira";
	background-color: var(--emphasis);
	color: var(--icy-aqua);
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
}

.project-card:hover {
	animation-name: projectAnimation;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 1s;
}

/*Cards will all spin 360 degrees when hovering on them*/
@keyframes projectAnimation{
	0%   {transform: rotate(90deg);}
	25%  {transform: rotate(180deg);}
	50%  {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

/*arrow icons bounce up and down infinitely throughout the webpage */
.bi-arrow-down{
	position: relative;
	animation: arwAnimation;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

@keyframes arwAnimation{
	0% {top: 0px;}
	50% {top: 40px;}
	75% {top: 40px;}
	100% {top: 0px; }
}

/*End of Projects styling */

/*Resume section styling including progress bar of skills */
#resume {
	display: flex;
	background-color: var(--icy-aqua);
	color: var(--emphasis);
}

/*Display information from my resume into multiple cards. The button at the bottom of the section will alow user to download resume PDF */
.resume-card{
	background-color: var(--emphasis);
	color: var(--icy-aqua);
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
}

.list-group-item{
	font-family: "Saira";
	background-color: var(--emphasis);
	color: var(--icy-aqua);
}

/*When hovering over the resume info cards, they slightly grow, and card text will glow */
.resume-card:hover{
	text-shadow: 0px 0px 8px;
	transform: scale(1.1);
	transition: transform 1s;
}


.card-text {
	font-family: "Saira";
}

.resumeBtn{
	background-color: var(--twistPurple);
	color: var(--icy-aqua);
	font-family: "Science Gothic";
	border-radius: 30px;
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
}

/*Button changes colour when you hover over it */
.resumeBtn:hover {
	background-color: var(--icy-aqua);
	color: var(--emphasis);
	font-family: "Science Gothic";
	border-radius: 30px;
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
}

.resumeBtn:active {
	transform: translateY(4px); /*when you press on the button it goes down */
}

/*styling each progress bar */
.progress{
	border-radius: 25px;
	position: relative;
	border-radius: 10px;
	font-family: "Saira"; 
	height: 2rem;
}

.progress-bar:hover {
	animation-name: progressgrowth;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

/*The skills progress bars grow in length upon hovering*/
@keyframes progressgrowth
{
	0% {width: 1%;}
	25% {width: 15%;}
	50% {width: 25%;}
	75% {width: 45%;}
	100% {width: 65%;}
}

/*End of resume section styling */


/*Concepts section styling*/
#concepts {
	display: flex;
	background-color: var(--icy-aqua);
	color: var(--emphasis);
}

.carousel-img{
	border-radius: 30px;
	border-style: solid; 
	border-width: 6px;
	border-color: #1c2541;
}


/*box shows information on each slide, slightly opaque to see the image behind */
.carousel-caption {
	border-radius: 30px;
	font-family: "Saira";
	color: var(--icy-aqua);
	background-color: var(--emphasis);
	opacity: 0.9;
}

.carousel-control-prev-icon {
	background-color: var(--emphasis);
	border-radius: 5px;
	border-style: solid; 
	border-width: 3px;
	border-color: #1c2541;
}

.carousel-control-next-icon {
	background-color: var(--emphasis);
	border-radius: 5px;
	border-style: solid; 
	border-width: 3px;
	border-color: #1c2541;
}

/*Upon hovering the next and previous arrows, they grow in size */
.carousel-control-next-icon:hover{
	transform: scale(1.5);
	transition: transform 2s;
}

.carousel-control-prev-icon:hover{
	transform: scale(1.5);
	transition: transform 2s;
}

/*End of Concepts section styling*/

/*Contact section styling */
#contact {
	display: flex;
	background-color: var(--icy-aqua);
	color: var(--emphasis);
}

/*Upon hovering on each section of the form, there will be a box shadow */
.form-control:hover {
	box-shadow: 0 0 15px #055160;
}

.social-icon{
	color: var(--emphasis);
	position: relative;
	animation: socAnimation;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*Color changes to Twist Purple upon hovering, animation doesn't stop */
.social-icon:hover {
	color: var(--twistPurple);
}

/*Icons for social media profiles will slowly bounce up and down inside their card */
@keyframes socAnimation {
	0% {top: 0px;}
	50% {top: 10px;}
	75% {top: 10px;}
	100% {top: 0px; }
}


.socials-card {
	background: none;
	border: none;
	color: var(--emphasis);
}

form{
	font-family: "Saira";
}

.submitBtn {
	background-color: var(--emphasis);
	color: var(--icy-aqua);
	font-family: "Science Gothic";
	border-radius: 30px;
	border-style: solid; 
	border-width: 5px;
	border-color: #1c2541;
}

.submitBtn:hover {
	background-color: var(--twistPurple);
	color: var(--icy-aqua);
	border-color: #1c2541;
	animation-name: sbtBtnAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

/*Button pulses like a heartbeat slowly and infinitely upon hover, text will also glow*/
@keyframes sbtBtnAnimation{
	0%   {transform: scale(1.1);}
	25%  {text-shadow: 0px 0px 15px; transform: scale(1.2);}
	50%  {text-shadow: 0px 0px 15px; transform: scale(1.3);}
	100% {transform: scale(1.1);}
}

/*End of contact styling */

/*Styling the footer */
footer{
	font-family: "Saira";
	background-color: var(--icy-aqua);
	color: var(--emphasis);
	border-top: 6px solid #1C2541;
}

/*End of styling for E-portfolio*/